@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

body,
html {
  margin: 0;
  height: 100%;
}

.side-title {
  color: #fff;
  text-align: center;
  font-size: 18px;
}